body {
    margin: 0;
    background: #000;
}

.control-box {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 32px;
    margin: 16px;
    border: 1px solid #333;
}

.button {
    border: none;
    padding: 8px 8px;
    color: #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #eb8900;
}

.button img {
    width: 100%;
}

.button:active {
    background-color: #ba6c00;
}

canvas {
    position: absolute;
    background-color: black;
    padding: 0;
    margin: 0;
}